
// Body
$body-bg: #f5f8fa;

// Typography
$font-family-sans-serif: "Raleway", sans-serif;
$font-size-base: 0.9rem;
$line-height-base: 1.6;
// colors
$backgroundColor: #5809a3;
$titlesColor: #fab848;
$violet: #090928;
$white: #FAFAFA;
