@import "variables";
@import "size-font";
@import "btn-commencer";
@import "login-style";
#game__CTA{
    @media screen and (min-width: 300px){
      width: 100vw;
      height: 100vh;
      display: block;
      background: $item-purple-color;
    }
  @media screen and (min-width: 750px) {
    width: 100vw;
    height: 100vh;
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    grid-template-rows: repeat(12, calc(100vh/12));
    background: $item-purple-color;
  }
  #game__CTA__footer{
    grid-column-start: 1;
    grid-column-end: span 12;
    grid-row-start: 9;
    grid-row-end: span 4;
    background: #f8f8f8;
  }
  .container{
    @media screen and (min-width: 300px){
      width: 100%;
      float: left;
      padding-right: 0;
      transition-duration: 300ms;
    }
    @media screen and (min-width: 750px) {
      width: 100%;
      float: left;
      padding-right: 0;
      transition-duration: 300ms;
    }
    span.btn-commencer:hover .container{
      padding-right: 100%;
      transition-duration: 500ms;
      transition-property: padding-right;
    }
    @media screen and (max-width:$responsive-media-ipad){
      width: 100vw;
      height: 100vh;
      overflow:visible;
      position: absolute;
    }
  }
  #main{
    display: block;
    grid-column-start: 2;
    grid-column-end: span 4;
    grid-row-start: 2;
    grid-row-end: span 6;
  }
  .block-text{
    width: 100%;
    height: 100vh;
    color: white;
    float: left;
    @media screen and (max-width: $responsive-media-ipad){
      width: 100%;
      height: 100%;
    }
    h1{
      @media screen and (min-width: 750px) {
        font-size: 2.1em;
        line-height: 1.2em;
      }
      padding-left: 46px;
      padding-top: 10vh;
      color: white;
    }
    h5{
      font-size: 1em;
      line-height: 1.3em;
      font-weight: lighter;
      padding-left: 46px;
      padding-top: 10px;
      margin-bottom: 24px;
      color: white;
      font-weight: 400;
    }
  }
  #block-login{
      width: 100%;
      height: 100%;
      display: block;
      grid-column-start: 7;
      grid-column-end: span 5;
      grid-row-start: 1;
      grid-row-end: span 11;
      background-color: white;
      overflow: hidden;
      color: black;
      box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
    h2{
      font-size: 1.2em;
      line-height: 41px;
      padding-right: 0;
      padding-left: 0;
      padding-top: 0px;
      color: black;
      text-align: center;
    }
    .content{
      width: calc( ( (100vw / 12) * 3) );
      padding-left: calc( 100vw / 12 );
      #rules-text{
        width: 100%;
        height: auto;
        color: black;
        float: left;
        font-size: 1em;
        line-height: 1.3em;
      }
    }
  }
  .btn-commencer:hover .container{
    padding-right: 100%;
    transform: translateX(100%);
  }
  span.circle{
    padding: 300px;
    background-color: #0fc5ef;
    border-radius: 100%;
    margin-left: 200px;
  }
  .scroll-downs {
    height: auto;
    margin-top: calc(100vh/4);
    p{
      color: black;
      font-size: 1em;
      line-height: 1.3em;
    }
  }
  .mousey {
    width: 3px;
    padding: 3px 12px;
    padding-bottom: 0;
    margin-bottom: 12px;
    margin-left: 34px;
    height: 35px;
    border: 2px solid #181818;
    border-radius: 25px;
    opacity: 0.75;
    box-sizing: content-box;
    margin-right: 1em;
    display: block;
    float: left;
  }
  .scroller {
    width: 3px;
    height: 13px;
    border-radius: 100%;
    background-color: #181818;
    animation-name: scroll;
    animation-duration: 2.2s;
    animation-timing-function: cubic-bezier(0.15, 0.41, 0.69, 0.94);
    animation-iteration-count: infinite;
  }
  @keyframes scroll {
    0% { opacity: 0; }
    10% { transform: translateY(0); opacity: 1; }
    100% { transform: translateY(15px); opacity: 0;}
  }
  #landing-form-interact{
    span{
      margin: 0;
      padding: 0;
      font-size: 1.1em;
      vertical-align: baseline;
      background: transparent;
      color: white;
      text-decoration: none;
      margin-left: 30%;
      font-weight: bolder;
      border-radius: -7px;
      -webkit-transition-duration: 200ms;
      transition-duration: 200ms;
      border: 2px solid white;
      padding: 10px;
      border-radius: 5px;
    }
  }
  a{
    margin: 0;
    padding: 0;
    font-size: 1.1em;
    vertical-align: baseline;
    background: transparent;
    color: white;
    text-decoration: none;
    text-decoration: 3;
    margin-left: 5%;
    padding: 0.6em;
    font-weight: bolder;
    border-radius: -7px;
    transition-duration: 200ms;
    background-color: #feca05;
    display: block;
    float: left;
    margin-top: 9px;
  }
}

