
$back-orange-color:#ffcc00;
$item-purple-color:#5809a3;
$text-color:white;

$pad-form-left:39%;
$pad-form-right:13.5%;

$responsive-media-ipad:768px;


// Background-effect-variables //
$particleSize: 20vmin;
$animationDuration: 6s;
$amount: 20;