input[type='number'] {
  -moz-appearance:textfield;
}
/* Webkit browsers like Safari and Chrome */
input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

.add-question-form{
  width: 100%;
  height: auto;
  min-height: 50vh;
  .input-group{
    width: 100%;
    input, textarea{
      width: 100%;
    }
    span{
      width: 100%;
      height: auto;
      float: left;
    }
  }
  .responses-list{
    width: 100%;
    height: auto;
    float: left;
    .response{
      width: 30%;
      margin: 1.5%;
      float: left;
      min-height: 40vh;
      height: auto;
      input{
        width: 100%;
        height: auto;
        float:left;
      }
    }
  }
}